.card{
    background-color: #636363;
    width: 100%;
    height: auto;
}

.card-body{
    color: whitesmoke;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent,#129450, transparent);  
  }